name: yocto

on:
  workflow_dispatch:
    inputs:
      machine:
        description: 'Machine'
        required: true
        default: 'imx8mpevk'
        type: choice
        options:
        - imx8mpevk
        - imx93evk
      distro:
        description: 'Distribution'
        required: true
        default: 'fsl-imx-xwayland'
        type: choice
        options:
        - fsl-imx-xwayland
        - fsl-imx-wayland
      image:
        description: 'Image'
        required: true
        default: 'imx-image-multimedia'
        type: choice
        options:
        - imx-image-core
        - imx-image-multimedia
        - imx-image-full
      version:
        description: 'Version'
        required: true
        default: '5.15.71-2.2.0'
        type: string

jobs:
  yocto:
    runs-on: [self-hosted, Linux, X64, Yocto]

    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Setup
        env:
          DISTRO: ${{ inputs.distro }}
          MACHINE: ${{ inputs.machine }}
          EULA: 1
        run: |
          $HOME/bin/repo init -u https://github.com/nxp-imx/imx-manifest -b imx-linux-kirkstone -m imx-${{ inputs.version }}.xml
          $HOME/bin/repo sync -d -j 4
      - name: Download
        env:
          DISTRO: ${{ inputs.distro }}
          MACHINE: ${{ inputs.machine }}
          EULA: 1
        run: |
          source ./imx-setup-release.sh -b build_${{ inputs.machine }}
          bitbake --postread=$GITHUB_WORKSPACE/extra.conf ${{ inputs.image }} --runall=fetch
