name: main

on:
  workflow_dispatch:
    inputs:
      machine:
        description: 'Machine'
        required: true
        default: 'imx8mpevk'
        type: choice
        options:
        - imx8mpevk
        - imx93evk
      distro:
        description: 'Distribution'
        required: true
        default: 'fsl-imx-xwayland'
        type: choice
        options:
        - fsl-imx-xwayland
        - fsl-imx-wayland
      image:
        description: 'Image'
        required: true
        default: 'imx-image-multimedia'
        type: choice
        options:
        - imx-image-core
        - imx-image-multimedia
        - imx-image-full
      version:
        description: 'Version'
        required: true
        default: '5.15.71-2.2.0'
        type: string
      publish:
        description: 'Publish Packages'
        required: true
        default: false
        type: boolean

jobs:
  yocto:
    runs-on: [self-hosted, Linux, X64, Yocto]

    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          clean: false

      - name: Setup
        env:
          DISTRO: ${{ inputs.distro }}
          MACHINE: ${{ inputs.machine }}
          EULA: 1
        run: |
          curl -o $HOME/bin/repo https://storage.googleapis.com/git-repo-downloads/repo
          chmod +x $HOME/bin/repo
          $HOME/bin/repo init -u https://github.com/nxp-imx/imx-manifest -b imx-linux-kirkstone -m imx-${{ inputs.version }}.xml
          mkdir -p .repo/local_manifests
          cp visionpack.xml .repo/local_manifests
          $HOME/bin/repo sync -d -j 4

      - name: Download
        env:
          DISTRO: ${{ inputs.distro }}
          MACHINE: ${{ inputs.machine }}
          EULA: 1
        run: |
          source ./imx-setup-release.sh -b build_${{ inputs.machine }}
          bitbake-layers add-layer $GITHUB_WORKSPACE/sources/meta-deepview
          bitbake --postread=$GITHUB_WORKSPACE/extra.conf ${{ inputs.image }} --runall=fetch

      - name: Build Image
        env:
          DISTRO: ${{ inputs.distro }}
          MACHINE: ${{ inputs.machine }}
          EULA: 1
        run: |
          source ./imx-setup-release.sh -b build_${{ inputs.machine }}
          bitbake-layers add-layer $GITHUB_WORKSPACE/sources/meta-deepview
          bitbake --postread=$GITHUB_WORKSPACE/extra.conf ${{ inputs.image }}

      - name: Build SDK
        env:
          DISTRO: ${{ inputs.distro }}
          MACHINE: ${{ inputs.machine }}
          EULA: 1
        run: |
          source ./imx-setup-release.sh -b build_${{ inputs.machine }}
          bitbake-layers add-layer $GITHUB_WORKSPACE/sources/meta-deepview
          bitbake --postread=$GITHUB_WORKSPACE/extra.conf ${{ inputs.image }} -c populate_sdk
          cp tmp/deploy/sdk/${{ inputs.distro }}-*-${{ inputs.image }}-*-${{ inputs.machine }}-*.sh \
            $GITHUB_WORKSPACE/yocto-sdk-${{ inputs.machine }}-${{ inputs.version }}.sh

      - name: Docker Login
        if: inputs.publish
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GHCR_TOKEN }}

      - name: Build Docker
        uses: docker/build-push-action@v3
        with:
          context: .
          build-args:
            MACHINE: ${{ inputs.machine }}
            VERSION: ${{ inputs.version }}
            DISTRO: ${{ inputs.distro }}
            IMAGE: ${{ inputs.image }}
          push: ${{ inputs.publish }}
          tags: deepviewml/yocto-sdk:${{ inputs.machine }}-${{ inputs.version }}
